.App {
  /* background-color: #090909; */
  text-align: center;
  height: 100vh;
  /* margin-top: 3%; */
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tableContainer {
  margin: 3% auto !important;
  width: 50% !important;
  background-color: #212121 !important;
}

.hiddenBoard {
  width: 35%;
  margin: -17% auto;
}

.bgArea {
  height: 130px;
  background-image: linear-gradient(to bottom, transparent, #090909);
}

@media screen and (max-width: 575px) {
  .tableContainer {
    margin: auto;
    width: 95%;
  }

  .bgArea {
    height: 115px;
  }

  .hiddenBoard {
    width: 70%;
    margin: -50% auto;
  }
}
