html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.HomeContent {
  padding-top: 10%;
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: bottom right, top left;
  background-size: 15%;
  background-repeat: no-repeat;
  background-image: url("/images/bg-bottom-right.png"),
    url("/images/bg-top-left.png");
}

.HomeImage {
  align-items: center;
  flex-direction: column !important;
}

.PlayButton {
  height: 60px;
  width: 300px;
  cursor: pointer;
  font-size: 1.5em;
  word-spacing: 10px;
  letter-spacing: 5px;
  color: whitesmoke !important;
  border: 2px dashed white;
  background-color: #000;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  font-family: "Hanalei Fill", cursive;
  text-align: center;
  padding-top: 10px;
}

.PlayButton:hover {
  border-color: #a664d3;
  background: -webkit-linear-gradient(#ff63b7, #03a9f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.HomeActions > .ant-col {
  display: flex;
  padding-bottom: 5%;
  align-items: center;
  justify-content: center;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiTableContainer-root {
  margin: 10% auto;
  width: 50% !important;
}

.AppHeader {
  display: flex;
  color: whitesmoke;
  align-items: center;
  justify-content: left;
}

.FooterHeart {
  color: red !important;
}

.AppFooter {
  font-size: 13px;
}

.RightsText {
  text-align: right;
}

.GameBoard {
  height: auto;
  min-height: 40vh !important;
  /* border-radius: 5px; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* margin: auto; */
  /* margin-top: 12%; */
  /* margin-bottom: 12%; */
}

.GameBoard > div {
  width: 75%;
  background-color: #f0f2f5;
  padding: 10px;
  /* margin-bottom: 12%; */
}

.GameBoard .Heading {
  padding: 5%;
  font-size: 2em;
  display: flex;
  align-items: center;
}

.AnalyticsBoard {
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.AnalyticsBoard > div {
  width: 75%;
  min-height: 30vh;
  background-color: #f0f2f5;
  padding: 5%;
}

.ProgressCircle {
  padding-top: 10% !important;
  padding-left: 20% !important;
}

.WinnerBoard {
  height: auto;
  display: flex;
  justify-content: center;
  /* margin: auto; */
  /* margin-top: 12%;
  margin-bottom: 12%; */
}

.WinnerBoard > div {
  width: 75%;
  background-color: #f0f2f5;
  padding: 5%;
  margin-bottom: 50px;
}

.WinnerBoard .Heading {
  /* padding: 3% 0 0 3%; */
  font-size: 2em;
  /* margin-top: 5%; */
  align-items: center;
  /* display: inline-flex; */
  justify-content: left;
}

.notes {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.notes > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 15%;
  padding-top: 18%;
}

.WinnerTableHead {
  padding: 2%;
  font-weight: 700;
  text-align: center;
}

.WinnerTableBody {
  padding-top: 3%;
  font-weight: 500;
  padding-bottom: 0%;
  text-align: center;
  font-size: 1.7em !important;
}

.PlayIconX {
  height: 6em !important;
}

.PlayIconO {
  height: 5em !important;
}

.PlayIconBlank {
  cursor: Pointer;
}

.NoteText {
  color: #ff4d4f;
}

.ResetMatch {
  color: #ff4d4f;
  cursor: Pointer;
}

.TurnColumn {
  padding-top: 7% !important;
}

.FadeTab {
  padding: 2% !important;
  min-width: 30%;
  font-weight: 800;
  box-shadow: none;
  font-size: 0.9rem !important;
  border-radius: 4px !important;
  transform-origin: 0 0 0;
  border: 1px solid #03a9f4 !important;
}

.FadeTabOver {
  padding: 2% !important;
  min-width: 30%;
  font-weight: 800;
  box-shadow: none;
  font-size: 0.9rem !important;
  border-radius: 4px !important;
  transform-origin: 0 0 0;
  border: 1px solid #52c41a !important;
}

.FadeTabDraw {
  padding: 2% !important;
  min-width: 30%;
  font-weight: 800;
  box-shadow: none;
  font-size: 0.9rem !important;
  border-radius: 4px !important;
  transform-origin: 0 0 0;
  border: 1px solid #faad14 !important;
}

.linear-title {
  width: 40%;
  position: relative;
  animation: moveTitle 2s 1;
}

.zoom-in-out-image {
  width: 60%;
  animation: zoom-in-zoom-out 1.5s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.15, 1.15);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes moveTitle {
  0% {
    left: -150%;
    top: 0px;
  }

  100% {
    left: 0%;
    top: 0px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 575px) {
  .GameBoard {
    margin: 10% 0%;
  }

  .AnalyticsBoard {
    margin-bottom: 50px;
  }

  .TurnColumn {
    padding-top: 0% !important;
    padding-bottom: 10% !important;
  }

  .PlayIconX {
    /* font-size: 3em !important; */
    height: 3em !important;
  }

  .PlayIconO {
    /* font-size: 2.5em !important; */
    height: 2.5em !important;
  }

  .RightsText {
    text-align: center;
  }

  .CreditsText {
    text-align: center;
  }

  .AppFooter {
    font-size: 11px;
  }

  .HomeContent {
    background-size: 31%;
  }

  .PlayButton {
    height: 40px;
    width: 250px;
    letter-spacing: 2px;
    font-size: 1.2em;
    padding-top: 5px;
  }

  .linear-title {
    padding-top: 10%;
  }
}

@media screen and (max-width: 600px) {
  .MuiTableContainer-root {
    width: 90% !important;
  }
}

@media screen and (max-width: 800px) {
  .MuiTableContainer-root {
    width: 80% !important;
  }
}

@media screen and (max-width: 991px) {
  .AnalyticsBoard > div > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .notes {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .notes > div {
    padding: 0;
    align-items: center;
  }
}
